<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Luggage Tracking</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    
    <div class="container">
        <h1 class="text-center">Passenger Luggage Information</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>RFID</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="luggage, row : ${luggages}">
                    <td th:text="${row.count}"></td>
                    <td th:text="${luggage.rfid}"></td>
                    <td th:text="${luggage.status.name}"></td>
                    <td>
	                    <a th:href="@{'../log/' + ${luggage.id}}" class="btn btn-primary">View Tracking</a>
	                    <a th:if="${luggage.status.id == 4}" href="#" class="btn btn-success">Claim Luggage</a>
                    	<a th:if="${luggage.status.id == 4}" href="#" class="btn btn-danger">Report Missing</a>
                    	<a th:if="${luggage.status.id == 7}" href="#" class="btn btn-danger">Report Mishandled</a>
                	</td>
                </tr>
            </tbody>
        </table>
        
        <a href="javascript:history.back()">Back</a>
        
    </div>
    
</body>

</html>