<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Luggage Tracking</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
    
	<div class="container">
	 	<h1>Tracking Log - <span th:text="${luggage.rfid}"></span></h1>
	 
	 	<table class="table">
	        <thead>
	            <tr>
	                <th>Time</th>
	                <th>Message</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="log : ${logs}">
	                <td th:text="${#temporals.format(log.dateTime, 'dd-MM-yyyy HH:mm')}"></td>
	                <td>
			            <span th:switch="${log.status.id}">
			                <span th:case="1">The luggage is dropped off at <span th:text="${log.checkPoint.flight.arrivalLocation}"></span> Airport.</span>
			                <span th:case="2">The luggage is on truck delivering for the shuttling process. (Check Point : <span th:text="${log.checkPoint.name}"></span>)</span>
			                <span th:case="3">The luggage is at Luggage Handling Hub and Conveying to Passenger Luggage Claim Bay. (Check Point : <span th:text="${log.checkPoint.name}"></span>)</span>
			                <span th:case="4">The luggage is at Passenger Luggage Claim Bay. You may claim your luggage. (Check Point : <span th:text="${log.checkPoint.name}"></span>)</span>
			                <span th:case="5">The luggage is claimed. </span>
			                <span th:case="6">The luggage is unclaimed. (Check Point : <span th:text="${log.checkPoint.name}"></span>)</span>
			                <span th:case="7">The luggage is mishandled to <span th:text="${log.checkPoint.flight.arrivalLocation}"></span> airport. Please do the report.</span>
			            </span>
			        </td>
	            </tr>
	        </tbody>
    	</table>
    	
    	<a href="javascript:history.back()">Back</a>
	</div>
    
</body>

</html>