<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Luggage Tracking</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  
  <style>
  	body {
	  background-color: #cccccc;
	}
  </style>
</head>

<body>
    <div class="container mt-5">
    	<div class="card p-5">    	
	        <h1 class="text-center">Scan the Luggage at Luggage Handling Hub Point (CP2)</h1>
	
			<!-- Display message if present -->
			<div th:if="${message}" class="alert alert-success">
			    <p th:text="${message}"></p>
			</div>
			
			<!-- Display error message if present -->
			<div th:if="${errorMessage}" class="alert alert-danger">
			    <p th:text="${errorMessage}"></p>
			</div>

	        <form action="#" th:action="@{/checkpoint/handlinghub/record}" method="post">
	            <div class="mb-3">
	                <label for="checkPointName" class="form-label">Check Point Name:</label>
	                <input type="text" id="checkPointName" name="checkPointName" class="form-control" required/>
	            </div>
	
	            <div class="mb-3">
	                <label for="rfid" class="form-label">Luggage RFID</label>
	                <input type="text" id="rfid" name="rfid" class="form-control" required/>
	            </div>
	
	            <button type="submit" class="btn btn-primary">Record</button>
	        </form>
    	</div>
    </div>
</body>

</html>